<!-- transactions.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Transactions Page</h1>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.timestamp }}</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>{{ transaction.product.name }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.user.username }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No transactions found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table><br />
<footer><a href="{% url 'inventory:product_list' %}">Back to Home</a></footer>
{% endblock %}